.app-page {

  &__content{
    width: 90%;
    // color: red;
    margin: 0 auto;
    padding: 20px 0;

  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}


.app-container {

}

.app-row{
  margin: 10px 0;
}

