<div class="app-form-container">
    <div class="app-form-row app-form-row--2">
        <div class="app-form-row__col app-form-row__col--1x2">
              <label class="app-form__label app-form__label--right" for="transaction-type">Transaction Type</label>
              <input class="app-form__input" type="text" placeholder="Transaction Type" >
        </div>
        <div class="app-form-row__col app-form-row__col--1x2">
              <label class="app-form__label app-form__label--right" for="quantity">Quantity</label>
              <input class="app-form__input" type="text" placeholder="Quantity" >
        </div>
    </div>
    <div class="app-form-row app-form-row--2">
        <div class="app-form-row__col app-form-row__col--1x2">
              <label class="app-form__label app-form__label--right" for="timestamp">Time Stamp</label>
              <input class="app-form__input" type="text" placeholder="Time Stamp" >
        </div>
    </div>
    <div class="app-form-row app-form-row--1">
        <div class="app-form-row__col app-form-row__col--1x2x1x2">
              <label class="app-form__label app-form__label--right" for="details">Details</label>
              <textarea class="app-form__input app-form-row__col--2" rows="3"
                        placeholder="TDetails" ></textarea>
        </div>
    </div>
</div>
