<div class="app-container">
    <div class="app-row">
      <div class="app-col app-col--80">
          <app-inventory-form [inventory]="inventory" [readOnly]="readOnly" ></app-inventory-form>
          <div class="app-page__control" *ngIf="readOnly" >
              <div class="control-group">
                  <button class="app-btn" (click)="onBackToList()" >Back To Inventory List</button>
                </div>
                <div class="control-group control-group--right">
                    <button class="app-btn">Add Transaction</button>
                    <button class="app-btn" (click)="onEditItem()" >Edit</button>
                    <button class="app-btn">Delete</button>
                </div>
          </div>
      </div>
    </div>
    <hr>
      <div class="app-row">
          <div class="app-col app-col--80">
              <router-outlet></router-outlet>
          </div>
      </div>
</div>
